<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="kr/or/ddit/config/mybatis/dbinfo.properties"/>


  <typeAliases>
  	<typeAlias type="kr.or.ddit.user.model.UserVo" alias="userVo" />
  	<typeAlias type="kr.or.ddit.common.model.PageVo" alias="pageVo" />
  	<typeAlias type="kr.or.ddit.emp.model.EmpVo" alias="empVo" />
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${pass}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/users.xml"/>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/emp.xml"/>
  </mappers>
</configuration>